:root {
    scroll-behavior: auto;
}
/* Home Section */
#home {
    height: 100vh;
    background: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)),url(../images/events-heavenly-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    color: #fff;
}

#home .home-content {
    width: 100%;
    padding: 15px;
}

#home .home-content h2 {
     font-size: 60px;
}

#home .home-content span {
    font-size: 30px;
    align-self: flex-start;
    cursor: pointer;
}

nav {
    width: 0;
    position: fixed;
    background-color: #111;
    height: 100%;
    overflow: hidden;
}


.nav-menu li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 20px 8px 20px 32px;
    font-size: 25px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
}


.nav-menu .closeBtn {
    font-size: 25px;
    position: absolute;
    top: 20px;
    right: 25px;
}

.nav-menu li a:hover {
    color: rgba(214, 46, 51 , 0.4);
}

#singers .custom-accordion-content {
    padding: 10px;
}

/* Singers Section */
#singers .custom-accordion-item .accordion-toggle {
    margin: 0;
    padding: 10px;
    background-color: rgba(214, 46, 51 , 0.6);
    color: #fff;
    cursor: pointer;
}

#singers .custom-accordion-item .custom-accordion-content {
    background-color: #ccc;
    display: none;
}

#singers .custom-accordion-item .first {
    display: block;
}

/* Count Section */
#count {
    background: linear-gradient(rgba(214, 46, 51 , 0.6), rgba(214, 46, 51 , 0.6)),url(../images/invitation.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.count-item {
    font-size: 30px;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
}

/* Contact Section */
#contact h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    color: #444;
}

#contact p {
    color: #777;
    font-weight: 300;
}

#contact .contact-info h3 {
    font-size: 18px;
    color: #444;
    font-weight: 900;
}

#contact .contact-info p {
    font-weight: 400;
    line-height: 26px;
}

#contact .contact-info .contact-details li {
    color: #777;
    margin-bottom: 20px;
}

#contact .contact-info .contact-details li i {
    margin-right: 10px;
}

#contact .contact-info .contact-details li span {
    color: #d62e33;
}

#contact form input, #contact form textarea {
    border-radius: 0;
    margin-bottom: 20px;
}

#contact form textarea {
    height: 200px;
}

#contact form .characters {
    font-size: 20px;
    color: #d62e33;
}

#contact form button {
    display: block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #d62e33;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;

}

.social-list li a {
    width: 40px;
    height: 40px;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    color: #777;
    text-decoration: none;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
}

.social-list li a:hover {
    color: #fff;
    background-color: #d62e33;
    border: 1px solid #d62e33;
}

/* Media Quiries */

@media (max-width: 768px) {
    #singers {
        width: 100% !important;
        padding: 15px;
    }
}